<div class="container">

  <%= simple_form_for(@computer) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="row form-inputs">
      <%= f.input :brand %>
      <%= f.input :category %>
      <%= f.input :screen_size %>
      <%= f.input :price %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }%>
    </div>

    <div class="row form-actions">
      <%= f.button :submit %>
      <%= link_to "Go Back", computers_path %>
    </div>
  <% end %>

</div>
