

<div class="container">
  <h1>Available Computers</h1>
  <div class="row d-flex justify-content-center">
    <% @computers.each do |computer| %>
      <div class="col">
        <div class="card">
          <% computer.photos.each do |photo| %>
            <%= cl_image_tag photo.key, width: 400, height: 300, crop: :fill %>
          <% end %>
          <%= computer.brand %>
          <%= computer.category %>
          <%= computer.screen_size %>
          <%= computer.price %>
          <%= link_to "See details", computer_path(computer), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
