

<div class="container">
<h1>Available Computers</h1>
    <% @computers.each do |computer| %>
    <div class="container">
      <div class="row d-flex justify-content-between">
        <img class="card-img-top" src="https://www.notebookcheck.com/typo3temp/_processed_/5/6/csm_MacBook_Pro_14_4e4d08d75d.jpg" alt="Card image cap" alt="Card image cap">
        <%= computer.brand %>
        <%= computer.category %>
        <%= computer.screen_size %>
        <%= computer.price %>
        <%= link_to "See details", computer_path(computer), class: "btn btn-primary" %>
      </div>
      </div>
    <% end %>
</div>
