<div class="container">
  <div class="index-container">
    <h1>Available Computers</h1>
  <%= render "pages/searchbar", computers: @computers %>
    <div class="row d-flex justify-content-center">
      <% @computers.each do |computer| %>
        <div class="col-3 mb-3 mx-3">
          <div class="card h-100 d-flex row justify-content-center">

            <% computer.photos.each do |photo| %>
              <%= cl_image_tag photo.key, width: 400, height: 300, crop: :fill %>
            <% end %>
            <ul>
              <li> <%= computer.brand %> </li>
              <li> Useful for <%= computer.category %> </li>
              <li> <%= computer.screen_size %> inches </li>
              <li> <%= computer.price %> €/day </li>
            </ul>
            <div>
              <%= link_to "See more", computer_path(computer), class: "btn btn-flat" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
