

<div class="container">
<h1>Available Computers</h1>
    <% @computers.each do |computer| %>
    <div class="container">
      <div class="row d-flex justify-content-between">
        <% if computer.photo.attached? %>
          <%= cl_image_tag(computer.photo.key, width: 400, height: 300, crop: :fill) %>
        <% else %>
          <li>No photo found</li>
        <% end %>
        <%= computer.brand %>
        <%= computer.category %>
        <%= computer.screen_size %>
        <%= computer.price %>
        <%= link_to "See details", computer_path(computer), class: "btn btn-primary" %>
      </div>
      </div>
    <% end %>
</div>
