<div class="container">

  <div class="title-wrapper mb-4">
    <h1><%= @computer.brand %> <%= @computer.model %></h1>
    <h3>Owner: <%= @computer.user.first_name %> <%= @computer.user.last_name %>&nbsp

    <% if @computer.user.photo.present? %>
      <%= image_tag @computer.user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% else %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    </h3>

  </div>

    <div class="carousel-wrapper">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% @computer.photos.each_with_index do |photo, i| %>
            <div class="carousel-item <%= i == 0 ? "active" : "" %>">
              <%= cl_image_tag photo.key, class: "carousel-img"  %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


   <div class="show-body-wrapper">

    <div class="details_card w-100 px-4">
      <ul>
      <h3 class="mb-3" style="text-align: left">Specs</h3>
        <li class="spec-list"><strong>Year: </strong><%= @computer.year %></li class="spec-list">
        <li class="spec-list"><strong>Screen size: </strong><%= @computer.screen_size %> inches </li class="spec-list">
        <li class="spec-list"><strong>Processor: </strong><%= @computer.processor %></li class="spec-list">
        <li class="spec-list"><strong>Ram: </strong><%= @computer.ram %></li class="spec-list">
        <li class="spec-list"><strong>Storage: </strong><%= @computer.storage %></li class="spec-list">
        <li class="spec-list"><strong>OS: </strong><%= @computer.os %></li class="spec-list">
        <li class="spec-list"><strong>Category: </strong><%= @computer.category %></li class="spec-list">
        <p class="spec-list pt-3"><%= @computer.description %></p>
        <li class="spec-list pt-3" style="list-style: none"><h3 class="details-price" style="text-align: right"><%= @computer.price %> €/day</h3></li>
      </ul>
    </div>

  <div class="bookingform w-100">
    <h2><strong>Book this laptop</strong></h2>
    <%= simple_form_for [@computer, @booking] do |f| %>
      <h4><strong><%= f.input :start_date  %></strong></h4>
      <br>
      <h4><strong><%= f.input :end_date %></strong></h4>
      <br>
      <div class="btn_form_book">
        <%= f.submit class: "btn btn-flat mt-4" %>
      </div>
    <% end %>
  </div>

 </div>


<div class="w-100 mt-3">
  <div class="container-map w-100"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
