
<div class="container">
  <h1> <%= @computer.brand %></h1>
  <ul>
    <li><%= @computer.brand %></li>
    <li><%= @computer.category %></li>
    <li><%= @computer.screen_size %></li>
    <li><%= @computer.price %></li>
    <% @computer.photos.each do |photo| %>
      <%= cl_image_tag photo.key, width: 400, height: 300, crop: :fill %>
    <% end %>
  </ul>
</div>
<%= link_to "Back to Computers list ", computers_path, class: "btn btn-flat" %>
