
<div class="container">
  <div class="row">
    <h1> <%= @computer.brand %> </h1>
    <h4></h4>
    <h3 id="title" >Owner:  <%= @computer.user.first_name %>  <%= @computer.user.last_name %> <%= image_tag "default_avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
</h3>

    <div  class="col d-flex justify-content-center" >
      <ul class="shadow p-3 mb-5 bg-white" id="specs">
        <li> Useful for <%= @computer.category %> </li>
        <li> <%= @computer.screen_size %> inches </li>
        <li> <%= @computer.price %> €/day </li>
      </ul>
    </div>

    <div  class="col d-flex justify-content-center" >
      <% @computer.photos.each do |photo|id="picture" %>
        <%= cl_image_tag photo.key, width: 400, height: 300, crop: :fill  %>
      <% end %>
    </div>
  </div>
    <div class="col d-flex justify-content-center"  >
    <%= link_to "Back to Computers list", computers_path, class: "btn btn-flat " %>
  </div>

  <div class="bookingform  ">
    <%# create a new booking  %>
    <h1>Book this laptop</h1>

      <%= simple_form_for [@computer, @booking] do |f| %>
        <%# <%= f.input :brand %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <div class="row" id="book">
          <%= f.submit class: "btn btn-flat" %>
          <% end %>
        </div>
  </div>
</div>
