<div class="container">
  <div class="details-wrapper d-flex justify-content-around">
    <div class="details_card">
      <ul>
        <h2>Owner: <%= @computer.user.first_name %> <%= @computer.user.last_name %> &nbsp <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></h2>
        <li><%= @computer.brand %></li>
        <li><%= @computer.model %></li>
        <li>From: <%= @computer.year %></li>
        <li><%= @computer.screen_size %> inches </li>
        <li>Processor: <%= @computer.processor %></li>
        <li>Ram: <%= @computer.ram %></li>
        <li>Storage: <%= @computer.storage %></li>
        <li>OS: <%= @computer.os %></li>
        <li>Category: <%= @computer.category %></li>
        <li><h2><%= @computer.price %> €/day </h2></li>
      </ul>
    </div>

    <div class="carousel-wrapper">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% @computer.photos.each_with_index do |photo, i| %>
            <div class="carousel-item <%= i == 0 ? "active" : "" %>">
              <%= cl_image_tag photo.key, class: "carousel-img"  %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>




<div class="secondcontainer">
  <div class="container-map"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="bookingform">
    <h1>Book this laptop</h1>
    <%= simple_form_for [@computer, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>

      <div class="btn_form_book">
        <%= f.submit class: "btn btn-flat" %>
      </div>
    <% end %>
  </div>
</div>
