<!DOCTYPE html>
<html>
  <head>
    <title>Computer-Swap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="navbar">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <div class="<% unless controller.controller_name == "pages" && controller.action_name == "home" %>mt-5<% end %>">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
  </body>
</html>
